header > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #3f3f3f;
    padding: 0.2em 0.5em 0 1.1em;
    border-radius: 3px;
}

ul {
    max-width: 720px;
    padding: 0;
    list-style: none;
    gap: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
    color: #3f3f3f;
    font-weight: 900;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.2em 0.3em;
    border-radius: 3px;
}

a.github-link {
    flex-grow: 1;
}

a.github-link:hover,
a.github-link:focus {
    opacity: 0.8;
}

a > svg {
    font-size: 2em;
}


nav>ul>li>a:hover,
nav>ul>li>a:focus {
    color: #102e50;
    background-color: #f0f0f0;
}