* {
    box-sizing: border-box;
}

body {
    font-family: "Indie Flower", cursive;
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;

}

section {
    margin-bottom: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #5E5D5D;
}

main.components-container {
    max-width: 720px;
}

main.components-container h3 {
    color: #5E5D5D;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
}

div.badge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;
    margin-bottom: 2em;
}
